.books {
    font: var(--subtitle);
    color: var(--text-body);
    width: 70%;
    margin-inline: auto;
    margin-top: 2rem;
    padding-inline: 5rem;
    text-align: center;
}

.imgs-bottom {
    display: flex;
    justify-content: space-between;
}

.blue {
    color: var(--blue-light);
}

.kit {
    margin-top: 5rem;
    height: 100vh;
    width: 50%;
    margin-inline: auto;
    text-align: center;
    color: var(--text-title);
    font: var(--title-sm);
   margin-top: 5rem;
        span {
            font: var(--body-md);
        }
        img {
            margin-top: 5rem;
        }
}

.container-kit {
    height: 50rem;
    overflow: hidden;
        img {
            transition: transform 500ms; 
        }
        img:hover[src*="Image" ]:hover {
            transform: rotate(50deg); } 

            
}
